<div class="home-container">
  <div class="main-content">
    <div class="header">
      <div class="top-bar">
        <span>Chưa có phòng tập</span>
        <img src="assets/avatar.png" class="avatar" />
      </div>
      <div class="welcome-box">
        <h2>Xin chào, Khách !</h2>
        <p>Hãy tập luyện đều đặn nhé bạn</p>
      </div>
      <div class="empty-packages">
        <p>Bạn chưa có <span class="highlight">"Gói Tập"</span> nào.</p>
        <p>Vui lòng chọn cơ sở để hiển thị thông tin các gói tập.</p>
      </div>
    </div>
  </div>
</div>
