<div class="footer-nav">
  <div class="nav-item active" routerLink="/fitness-package" routerLinkActive="active">
    <i class="fa fa-dumbbell"></i>
    <span>{{ 'MENU.FITNESS_PACKAGE' | translate }}</span>
  </div>
  <div class="nav-item" routerLink="/home" routerLinkActive="active">
    <i class="fa fa-calendar"></i>
    <span>{{ 'MENU.TRAINING_SCHEDULE' | translate }}</span>
  </div>
  <div class="nav-center">
    <i class="fa fa-qrcode"></i>
  </div>
  <div class="nav-item" routerLink="/3" routerLinkActive="active">
    <i class="fa fa-bell"></i>
    <span>{{ 'MENU.NOTIFICATION' | translate }}</span>
  </div>
  <div class="nav-item" routerLink="/4" routerLinkActive="active">
    <i class="fa fa-user"></i>
    <span>{{ 'MENU.INDIVIDUAL' | translate }}</span>
  </div>
</div>
